---
title: "Visitkort"
layout: "base.njk"
---


<section>
    <div class="project-container">
        <h1>Här kommer jag lägga project</h1>
    </div>
    <div class="project-container">
        <h1>Här kommer jag lägga project</h1>
    </div>
    <div class="project-container">
        <h1>Här kommer jag lägga project</h1>
    </div>
    <div class="project-container">
        <h1>Här kommer jag lägga project</h1>
    </div>
    <div class="project-container">
        <h1>Här kommer jag lägga project</h1>
    </div>
    <div class="project-container">
        <h1>Här kommer jag lägga project</h1>
    </div>
    <div class="project-container">
        <h1>Här kommer jag lägga project</h1>
    </div>
    <div class="project-container">
        <h1>Här kommer jag lägga project</h1>
    </div>
    <div class="project-container">
        <h1>Här kommer jag lägga project</h1>
    </div>
    <div class="project-container">
        <h1>Här kommer jag lägga project</h1>
    </div>
    <div class="project-container">
        <h1>Här kommer jag lägga project</h1>
    </div>
    <div class="project-container">
        <h1>Här kommer jag lägga project</h1>
    </div>
    <div class="project-container">
        <h1>Här kommer jag lägga project</h1>
    </div>
    <div class="project-container">
        <h1>Här kommer jag lägga project</h1>
    </div>
</section>
<main class="card">
<h1>Colin Segerljung</h1>

<div class="container">
    <img src="images/charlesdeluvio-Mv9hjnEUHR4-unsplash.jpg" alt="Hund" class="cardImage">
    <div class="infoContainer">
        <p>
            <I>NTI gymnasiet Umeå</I>
            <br/>
            <p>colin.segerlund@elev.ga.ntig.se</p>
            <p>072-152 29 93</p>
            <br/>
            <p>Storgatan 43?</p>
            <p>postcode</p>
            <p><a href="https://www.ntig.se">www.ntig.se</a></p>
        </p>
    </div>   
</div>
</main>